<main class="main">
  <div class="content">
    <div class="left-side" style="width: 40rem">
      <h1>{{ "Klimaschule Report" }}</h1>
      <p></p>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile [style.background]="'lightblue'" (click)="navigateToEnergie()">{{'Energie'}}</mat-grid-tile>
        <mat-grid-tile [style.background]="'lightblue'" (click)="navigateToBiodiversity()">{{'Biodiversität'}}</mat-grid-tile>
        <mat-grid-tile [style.background]="'lightblue'" (click)="navigateToMobility()">{{'Mobilität'}}</mat-grid-tile>
        <mat-grid-tile [style.background]="'lightblue'">{{'Abfall & Ressourcen'}}</mat-grid-tile>
        <mat-grid-tile [style.background]="'lightblue'">{{'Ernährung'}}</mat-grid-tile>
      </mat-grid-list>
      <br><br>
      <button mat-raised-button color="primary" (click)="openRanking()">Ranking</button>
      <button mat-raised-button color="primary" style="margin-left: 5rem" (click)="openRanking()">Potentiall ermitteln</button>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      {{'Willkommen ' + this.loginService.getUser() + '!'}}
      <klimaschule></klimaschule>
      <br>
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Generelle Info'}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">{{'Schulname: ' + this.schoolservice.getSchulname()}}</mat-list-item>
            <mat-list-item role="listitem">{{'Adresse: ' + this.schoolservice.getSchulname()}}</mat-list-item>
            <mat-list-item role="listitem">{{'Referenzjahr: ' + this.schoolservice.getSchulname()}}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'Energie'}}
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</main>
