<main class="main">
  <div class="content">
    <div class="left-side" style="width: 40rem">
      <form class="example-form">
        <h1>{{ 'Biodiversität' }}</h1>
        <mat-checkbox class="example-margin">Garten</mat-checkbox>
        <br><br>
        <mat-checkbox class="example-margin">Kompostiermöglichkeit</mat-checkbox>
        <br><br>
<!--        <div>-->
<!--          <label for="input">Weiteres</label>-->
<!--          <textarea id="input"></textarea>-->
<!--        </div>-->
<!--        <mat-form-field style="width: 100%;">-->
<!--          <mat-label>Both a label and a placeholder</mat-label>-->
<!--          <textarea matInput placeholder="test"></textarea>-->
<!--        </mat-form-field>-->
      </form>
      <br>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
    </div>
  </div>
</main>
